n8n/clube-hn-bot-whatsapp.json
{
  "name": "Clube HN - Bot WhatsApp",
  "nodes": [
    {
      "parameters": {
        "content": "## Clube HN - Bot WhatsApp (Fase 3)\n\nVariaveis de ambiente do n8n necessarias:\n- `CLUBE_SUPABASE_URL`\n- `CLUBE_SUPABASE_SERVICE_KEY`\n- `EVOLUTION_API_URL` (ex: https://n8n-evolution-api.k41knm.easypanel.host)\n- `EVOLUTION_API_KEY` (apikey global da Evolution API)\n- `EVOLUTION_INSTANCE` (nome da instancia do WhatsApp)\n\nSessao da conversa fica salva no Redis com TTL de 30 min,\nchave `clube:sessao:<telefone>`."
      },
      "id": "sticky-overview",
      "name": "Visao Geral",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -480,
        -340
      ]
    },
    {
      "parameters": {
        "content": "### Fluxos implementados no node \"Motor de Conversa\"\n\n1. Cadastro de novo membro (nome + CPF + data de nascimento opcional dd/mm)\n2. Menu principal\n3. Consulta de saldo + proximo nivel\n4. Resgate de cupom (lista + escolha + RPC gerar_cupom_membro)\n5. Listagem de cupons ativos\n6. Historico de transacoes\n7. Mensagem de ajuda\n\nEstados de conversa: CADASTRO_NOME, CADASTRO_CPF, CADASTRO_NASCIMENTO, MENU, RESGATE_ESCOLHA"
      },
      "id": "sticky-flows",
      "name": "Fluxos",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        560,
        -340
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "clube-hn-bot",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "webhook-evolution",
      "name": "Webhook Evolution API",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -480,
        0
      ],
      "webhookId": "clube-hn-bot-whatsapp"
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "// Le o webhook da Evolution API (evento messages.upsert) e normaliza\n// para { telefone, texto, pushName, valido }\nconst body = $input.first().json.body ?? $input.first().json\nconst dataArr = Array.isArray(body.data) ? body.data : [body.data]\n\nconst results = []\nfor (const data of dataArr) {\n  if (!data) continue\n  const remoteJid = (data.key && data.key.remoteJid) || ''\n  const fromMe = !!(data.key && data.key.fromMe)\n  const isGroup = remoteJid.endsWith('@g.us')\n  const telefone = remoteJid.split('@')[0]\n  const msg = data.message || {}\n  const texto =\n    msg.conversation ||\n    (msg.extendedTextMessage && msg.extendedTextMessage.text) ||\n    (msg.buttonsResponseMessage && msg.buttonsResponseMessage.selectedButtonId) ||\n    (msg.listResponseMessage && msg.listResponseMessage.title) ||\n    ''\n  const pushName = data.pushName || ''\n  const valido = !fromMe && !isGroup && !!telefone && !!String(texto).trim()\n\n  results.push({\n    json: {\n      telefone,\n      texto: String(texto).trim(),\n      pushName,\n      valido,\n    },\n  })\n}\n\nreturn results.length ? results : [{ json: { valido: false } }]"
      },
      "id": "code-extrair-mensagem",
      "name": "Extrair Mensagem",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -260,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-valido",
              "leftValue": "={{ $json.valido }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-mensagem-valida",
      "name": "Mensagem Valida?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -40,
        0
      ]
    },
    {
      "parameters": {},
      "id": "noop-ignorar",
      "name": "Ignorar",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        180,
        140
      ]
    },
    {
      "parameters": {
        "operation": "get",
        "key": "=clube:sessao:{{$json.telefone}}",
        "propertyName": "sessaoRaw",
        "options": {}
      },
      "id": "redis-get-sessao",
      "name": "Buscar Sessao (Redis)",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        180,
        -120
      ],
      "credentials": {
        "redis": {
          "id": "REDIS_CREDENTIAL_ID",
          "name": "Redis Clube HN"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "// ============================================================\n// Motor de conversa do Bot WhatsApp - Clube HN\n// Implementa os 7 fluxos da Fase 3:\n//  1) Cadastro de novo membro\n//  2) Menu principal\n//  3) Consulta de saldo + proximo nivel\n//  4) Resgate de cupom (listagem + escolha + geracao via RPC)\n//  5) Listagem de cupons ativos\n//  6) Historico de transacoes\n//  7) Mensagem de ajuda\n// O estado da conversa fica salvo no Redis (node anterior/posterior).\n// ============================================================\n\nconst SUPABASE_URL = ($env.CLUBE_SUPABASE_URL || '').replace(/\\/$/, '')\nconst SUPABASE_KEY = $env.CLUBE_SUPABASE_SERVICE_KEY\nconst httpRequest = this.helpers.httpRequest.bind(this)\n\nconst headers = {\n  apikey: SUPABASE_KEY,\n  Authorization: 'Bearer ' + SUPABASE_KEY,\n  'Content-Type': 'application/json',\n}\n\nasync function supaGet(pathAndQuery) {\n  return httpRequest({\n    method: 'GET',\n    url: SUPABASE_URL + '/rest/v1/' + pathAndQuery,\n    headers,\n    json: true,\n  })\n}\n\nasync function supaPost(table, body) {\n  return httpRequest({\n    method: 'POST',\n    url: SUPABASE_URL + '/rest/v1/' + table,\n    headers: Object.assign({}, headers, { Prefer: 'return=representation' }),\n    body,\n    json: true,\n  })\n}\n\nasync function supaRpc(fn, args) {\n  return httpRequest({\n    method: 'POST',\n    url: SUPABASE_URL + '/rest/v1/rpc/' + fn,\n    headers,\n    body: args,\n    json: true,\n  })\n}\n\nfunction validarCPF(cpf) {\n  if (!/^\\d{11}$/.test(cpf)) return false\n  if (/^(\\d)\\1{10}$/.test(cpf)) return false\n  let soma = 0\n  for (let i = 0; i < 9; i++) soma += parseInt(cpf[i], 10) * (10 - i)\n  let resto = (soma * 10) % 11\n  if (resto === 10) resto = 0\n  if (resto !== parseInt(cpf[9], 10)) return false\n  soma = 0\n  for (let i = 0; i < 10; i++) soma += parseInt(cpf[i], 10) * (11 - i)\n  resto = (soma * 10) % 11\n  if (resto === 10) resto = 0\n  if (resto !== parseInt(cpf[10], 10)) return false\n  return true\n}\n\nfunction formatarData(iso) {\n  return new Date(iso).toLocaleDateString('pt-BR')\n}\n\n// converte \"dd/mm\" em \"2000-mm-dd\" (ano fixo, nao expoe a idade).\n// retorna null se o formato/data forem invalidos.\nfunction parseDataNascimento(texto) {\n  const m = texto.match(/^(\\d{1,2})\\/(\\d{1,2})$/)\n  if (!m) return null\n  const dia = parseInt(m[1], 10)\n  const mes = parseInt(m[2], 10)\n  if (mes < 1 || mes > 12) return null\n  const diasNoMes = new Date(2000, mes, 0).getDate()\n  if (dia < 1 || dia > diasNoMes) return null\n  const dd = String(dia).padStart(2, '0')\n  const mm = String(mes).padStart(2, '0')\n  return '2000-' + mm + '-' + dd\n}\n\nfunction extrairErro(e) {\n  return (\n    (e && e.response && e.response.body && (e.response.body.message || e.response.body.error_description)) ||\n    (e && e.message) ||\n    'erro desconhecido'\n  )\n}\n\nconst MENU_TEXTO =\n  '*Menu Clube HN*\\n' +\n  '1 - Consultar saldo de pontos\\n' +\n  '2 - Resgatar cupom\\n' +\n  '3 - Meus cupons ativos\\n' +\n  '4 - Historico de transacoes\\n' +\n  '5 - Ajuda\\n\\n' +\n  'Envie o numero da opcao desejada.'\n\nconst AJUDA_TEXTO =\n  '*Ajuda - Clube HN*\\n\\n' +\n  'Voce pode enviar a qualquer momento:\\n' +\n  '- *menu* para voltar ao menu principal\\n' +\n  '- *1* para consultar seu saldo de pontos\\n' +\n  '- *2* para resgatar um cupom com seus pontos\\n' +\n  '- *3* para ver seus cupons ativos\\n' +\n  '- *4* para ver seu historico de transacoes\\n' +\n  '- *5* para ver esta ajuda novamente\\n\\n' +\n  'Duvidas? Fale com a equipe do parceiro participante.\\n\\n' +\n  MENU_TEXTO\n\nconst input = $('Extrair Mensagem').first().json\nconst telefone = input.telefone\nconst texto = (input.texto || '').trim()\nconst textoLower = texto.toLowerCase()\nconst pushName = input.pushName || ''\n\nlet sessao = {}\nconst sessaoRaw = $input.first().json.sessaoRaw\nif (sessaoRaw) {\n  try {\n    sessao = JSON.parse(sessaoRaw)\n  } catch (e) {\n    sessao = {}\n  }\n}\n\nlet estado = sessao.estado\nlet dados = sessao.dados || {}\nlet resposta = ''\n\nconst membros = await supaGet(\n  'membros?telefone=eq.' +\n    encodeURIComponent(telefone) +\n    '&select=id,nome,pontos_saldo,pontos_acumulados_total,nivel,origem_parceiro_id'\n)\nlet membro = Array.isArray(membros) && membros[0] ? membros[0] : null\n\nif (!membro) {\n  // ------------------------------------------------------------\n  // 1) CADASTRO DE NOVO MEMBRO (coleta nome + CPF, valida, cria)\n  // ------------------------------------------------------------\n  if (estado === 'CADASTRO_CPF') {\n    const cpf = texto.replace(/\\D/g, '')\n    if (!validarCPF(cpf)) {\n      resposta = 'CPF invalido. Envie novamente apenas os numeros do seu CPF (11 digitos).'\n      estado = 'CADASTRO_CPF'\n    } else {\n      dados = Object.assign({}, dados, { cpf })\n      resposta =\n        'Falta pouco! Qual o dia e o mes do seu aniversario? Envie no formato dd/mm (ex: 25/03).\\n' +\n        'Se preferir nao informar, envie \"pular\".'\n      estado = 'CADASTRO_NASCIMENTO'\n    }\n  } else if (estado === 'CADASTRO_NASCIMENTO') {\n    // ------------------------------------------------------------\n    // 1b) CADASTRO - data de nascimento (opcional, apenas dia/mes)\n    // ------------------------------------------------------------\n    let dataValida = true\n    let dataNascimento = null\n\n    if (textoLower !== 'pular') {\n      dataNascimento = parseDataNascimento(texto)\n      if (!dataNascimento) dataValida = false\n    }\n\n    if (!dataValida) {\n      resposta = 'Nao entendi essa data. Envie no formato dd/mm (ex: 25/03) ou \"pular\" para nao informar.'\n      estado = 'CADASTRO_NASCIMENTO'\n    } else {\n      try {\n        const novos = await supaPost('membros', {\n          nome: dados.nome,\n          cpf: dados.cpf,\n          telefone,\n          data_nascimento: dataNascimento,\n        })\n        const novo = Array.isArray(novos) ? novos[0] : novos\n        resposta = 'Cadastro concluido, ' + novo.nome + '! Bem-vindo ao Clube HN.\\n\\n' + MENU_TEXTO\n        estado = 'MENU'\n        dados = {}\n      } catch (e) {\n        resposta = 'Nao foi possivel concluir seu cadastro (' + extrairErro(e) + '). Envie seu CPF novamente.'\n        estado = 'CADASTRO_CPF'\n      }\n    }\n  } else if (estado === 'CADASTRO_NOME' && texto) {\n    dados = { nome: texto }\n    resposta = 'Prazer, ' + texto + '! Agora envie seu CPF (apenas numeros).'\n    estado = 'CADASTRO_CPF'\n  } else {\n    resposta =\n      'Ola' +\n      (pushName ? ', ' + pushName : '') +\n      '! Bem-vindo ao Clube HN.\\n\\n' +\n      'Voce ainda nao esta cadastrado. Qual o seu nome completo?'\n    estado = 'CADASTRO_NOME'\n    dados = {}\n  }\n} else {\n  // ------------------------------------------------------------\n  // Membro ja cadastrado - \"menu\" sempre volta ao menu principal\n  // ------------------------------------------------------------\n  if (textoLower === 'menu') {\n    resposta = MENU_TEXTO\n    estado = 'MENU'\n    dados = {}\n  } else if (estado === 'RESGATE_ESCOLHA' && Array.isArray(dados.niveis)) {\n    // ------------------------------------------------------------\n    // 4) RESGATE DE CUPOM - confirmacao da escolha + geracao via RPC\n    // ------------------------------------------------------------\n    const escolha = parseInt(texto, 10)\n    if (!Number.isInteger(escolha) || escolha < 1 || escolha > dados.niveis.length) {\n      resposta = 'Opcao invalida. Envie o numero correspondente ao cupom desejado, ou \"menu\" para voltar.'\n    } else {\n      const nivelEscolhido = dados.niveis[escolha - 1]\n      try {\n        // antes de gerar um novo cupom, verifica se o membro ja tem um cupom ativo\n        const cuponsAtivos = await supaGet(\n          'cupons?membro_id=eq.' + membro.id +\n            '&status=eq.disponivel&select=codigo,data_validade,cupom_niveis(nome,tipo_beneficio,valor_beneficio)' +\n            '&order=created_at.desc&limit=1'\n        )\n        const cupomAtivo = Array.isArray(cuponsAtivos) && cuponsAtivos[0] ? cuponsAtivos[0] : null\n\n        if (cupomAtivo) {\n          const nivelAtivo = cupomAtivo.cupom_niveis || {}\n          let descontoTexto\n          if (nivelAtivo.tipo_beneficio === 'desconto_percentual') {\n            descontoTexto = nivelAtivo.valor_beneficio + '%'\n          } else if (nivelAtivo.tipo_beneficio === 'desconto_valor') {\n            descontoTexto = 'R$ ' + Number(nivelAtivo.valor_beneficio || 0).toFixed(2)\n          } else {\n            descontoTexto = nivelAtivo.nome || 'Beneficio'\n          }\n\n          resposta =\n            'Voce ja tem um cupom ativo! 🎟️\\n' +\n            'Codigo: ' + cupomAtivo.codigo + '\\n' +\n            'Desconto: ' + descontoTexto + '\\n' +\n            'Valido ate: ' + formatarData(cupomAtivo.data_validade) + '\\n\\n' +\n            'Apresente o codigo no parceiro para utilizar o beneficio.\\n\\n' +\n            MENU_TEXTO\n        } else {\n          const resultado = await supaRpc('gerar_cupom_membro', {\n            p_membro_id: membro.id,\n            p_cupom_nivel_id: nivelEscolhido.id,\n          })\n          const r = Array.isArray(resultado) ? resultado[0] : resultado\n          resposta =\n            'Cupom gerado com sucesso!\\n\\n' +\n            'Beneficio: ' + r.nivel_nome + '\\n' +\n            'Codigo: ' + r.codigo + '\\n' +\n            'Valido ate: ' + formatarData(r.data_validade) + '\\n' +\n            'Pontos utilizados: ' + r.pontos_utilizados + '\\n' +\n            'Saldo atual: ' + r.saldo_atual + ' pontos\\n\\n' +\n            'Apresente o codigo no parceiro para utilizar o beneficio.\\n\\n' +\n            MENU_TEXTO\n        }\n      } catch (e) {\n        resposta = 'Nao foi possivel gerar o cupom (' + extrairErro(e) + ').\\n\\n' + MENU_TEXTO\n      }\n      estado = 'MENU'\n      dados = {}\n    }\n  } else {\n    // ------------------------------------------------------------\n    // 2) MENU PRINCIPAL\n    // ------------------------------------------------------------\n    switch (texto) {\n      case '1': {\n        // ------------------------------------------------------\n        // 3) CONSULTA DE SALDO + PROXIMO NIVEL DE CUPOM\n        // ------------------------------------------------------\n        const filtroParceiro = membro.origem_parceiro_id\n          ? 'or=(parceiro_id.is.null,parceiro_id.eq.' + membro.origem_parceiro_id + ')'\n          : 'parceiro_id=is.null'\n\n        const proximos = await supaGet(\n          'cupom_niveis?ativo=eq.true&pontos_necessarios=gt.' +\n            membro.pontos_saldo +\n            '&' + filtroParceiro +\n            '&order=pontos_necessarios.asc&limit=1'\n        )\n\n        let proximoTexto\n        if (Array.isArray(proximos) && proximos[0]) {\n          const faltam = proximos[0].pontos_necessarios - membro.pontos_saldo\n          proximoTexto = 'Faltam ' + faltam + ' pontos para o cupom \"' + proximos[0].nome + '\".'\n        } else {\n          proximoTexto = 'Voce ja pode resgatar todos os cupons disponiveis!'\n        }\n\n        resposta =\n          'Seu saldo: ' + membro.pontos_saldo + ' pontos\\n' +\n          'Nivel: ' + membro.nivel + '\\n' +\n          'Total acumulado: ' + membro.pontos_acumulados_total + ' pontos\\n\\n' +\n          proximoTexto + '\\n\\n' +\n          MENU_TEXTO\n        estado = 'MENU'\n        break\n      }\n      case '2': {\n        // ------------------------------------------------------\n        // 4) RESGATE DE CUPOM - listagem dos niveis disponiveis\n        // ------------------------------------------------------\n        const filtroParceiro = membro.origem_parceiro_id\n          ? 'or=(parceiro_id.is.null,parceiro_id.eq.' + membro.origem_parceiro_id + ')'\n          : 'parceiro_id=is.null'\n\n        const niveis = await supaGet(\n          'cupom_niveis?ativo=eq.true&pontos_necessarios=lte.' +\n            membro.pontos_saldo +\n            '&' + filtroParceiro +\n            '&order=pontos_necessarios.desc'\n        )\n\n        if (!Array.isArray(niveis) || niveis.length === 0) {\n          resposta =\n            'Voce ainda nao tem pontos suficientes para nenhum cupom disponivel.\\n' +\n            'Seu saldo atual e ' + membro.pontos_saldo + ' pontos.\\n\\n' +\n            MENU_TEXTO\n          estado = 'MENU'\n        } else {\n          const lista = niveis\n            .map((n, i) => (i + 1) + ' - ' + n.nome + ' (' + n.pontos_necessarios + ' pontos)')\n            .join('\\n')\n          resposta =\n            'Cupons disponiveis para o seu saldo (' + membro.pontos_saldo + ' pontos):\\n\\n' +\n            lista + '\\n\\n' +\n            'Envie o numero do cupom que deseja resgatar, ou \"menu\" para voltar.'\n          estado = 'RESGATE_ESCOLHA'\n          dados = { niveis: niveis.map((n) => ({ id: n.id, nome: n.nome })) }\n        }\n        break\n      }\n      case '3': {\n        // ------------------------------------------------------\n        // 5) LISTAGEM DE CUPONS ATIVOS\n        // ------------------------------------------------------\n        const cupons = await supaGet(\n          'cupons?membro_id=eq.' + membro.id +\n            '&status=eq.disponivel&select=codigo,data_validade,pontos_utilizados,cupom_niveis(nome)' +\n            '&order=data_validade.asc'\n        )\n\n        if (!Array.isArray(cupons) || cupons.length === 0) {\n          resposta = 'Voce nao tem cupons ativos no momento.\\n\\n' + MENU_TEXTO\n        } else {\n          const lista = cupons\n            .map((c) => {\n              const nome = (c.cupom_niveis && c.cupom_niveis.nome) || 'Cupom'\n              return nome + '\\nCodigo: ' + c.codigo + '\\nValido ate: ' + formatarData(c.data_validade)\n            })\n            .join('\\n\\n')\n          resposta = 'Seus cupons ativos:\\n\\n' + lista + '\\n\\n' + MENU_TEXTO\n        }\n        estado = 'MENU'\n        break\n      }\n      case '4': {\n        // ------------------------------------------------------\n        // 6) HISTORICO DE TRANSACOES\n        // ------------------------------------------------------\n        const transacoes = await supaGet(\n          'transacoes?membro_id=eq.' + membro.id +\n            '&select=tipo,pontos,valor_compra,descricao,created_at' +\n            '&order=created_at.desc&limit=10'\n        )\n\n        if (!Array.isArray(transacoes) || transacoes.length === 0) {\n          resposta = 'Voce ainda nao tem transacoes registradas.\\n\\n' + MENU_TEXTO\n        } else {\n          const tipoLabel = { credito: 'Credito', debito: 'Debito', ajuste: 'Ajuste', resgate: 'Resgate' }\n          const lista = transacoes\n            .map((t) => {\n              const valor = (t.tipo === 'debito' || t.tipo === 'resgate') ? -t.pontos : t.pontos\n              const sinal = valor >= 0 ? '+' : ''\n              return formatarData(t.created_at) + ' - ' + sinal + valor + ' pts (' + (tipoLabel[t.tipo] || t.tipo) + ')'\n            })\n            .join('\\n')\n          resposta = 'Suas ultimas transacoes:\\n\\n' + lista + '\\n\\n' + MENU_TEXTO\n        }\n        estado = 'MENU'\n        break\n      }\n      case '5': {\n        // ------------------------------------------------------\n        // 7) MENSAGEM DE AJUDA\n        // ------------------------------------------------------\n        resposta = AJUDA_TEXTO\n        estado = 'MENU'\n        break\n      }\n      default: {\n        resposta = 'Nao entendi essa opcao.\\n\\n' + MENU_TEXTO\n        estado = 'MENU'\n      }\n    }\n  }\n}\n\nreturn [\n  {\n    json: {\n      telefone,\n      resposta,\n      novoEstado: estado,\n      novosDados: dados,\n    },\n  },\n]"
      },
      "id": "code-motor-conversa",
      "name": "Motor de Conversa",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        400,
        -120
      ]
    },
    {
      "parameters": {
        "operation": "set",
        "key": "=clube:sessao:{{$(\"Extrair Mensagem\").first().json.telefone}}",
        "value": "={{ JSON.stringify({ estado: $json.novoEstado, dados: $json.novosDados }) }}",
        "expire": true,
        "ttl": 1800,
        "options": {}
      },
      "id": "redis-set-sessao",
      "name": "Salvar Sessao (Redis)",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        620,
        -120
      ],
      "credentials": {
        "redis": {
          "id": "REDIS_CREDENTIAL_ID",
          "name": "Redis Clube HN"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.EVOLUTION_API_URL + \"/message/sendText/\" + $env.EVOLUTION_INSTANCE }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.EVOLUTION_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ number: $(\"Extrair Mensagem\").first().json.telefone, text: $json.resposta }) }}",
        "options": {}
      },
      "id": "http-enviar-resposta",
      "name": "Enviar Resposta WhatsApp",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        840,
        -120
      ]
    }
  ],
  "connections": {
    "Webhook Evolution API": {
      "main": [
        [
          {
            "node": "Extrair Mensagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extrair Mensagem": {
      "main": [
        [
          {
            "node": "Mensagem Valida?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mensagem Valida?": {
      "main": [
        [
          {
            "node": "Buscar Sessao (Redis)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Ignorar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Sessao (Redis)": {
      "main": [
        [
          {
            "node": "Motor de Conversa",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Motor de Conversa": {
      "main": [
        [
          {
            "node": "Salvar Sessao (Redis)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Salvar Sessao (Redis)": {
      "main": [
        [
          {
            "node": "Enviar Resposta WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {}
}
